*.py                 git-encoding=iso8859-1 zos-working-tree-encoding=ibm-1047 linguist-language=python
.gitattributes       git-encoding=iso8859-1 zos-working-tree-encoding=iso8859-1
.gitignore           git-encoding=iso8859-1 zos-working-tree-encoding=iso8859-1
*.md                 git-encoding=iso8859-1 zos-working-tree-encoding=ibm-1047 linguist-language=markdown
requirements.txt     git-encoding=iso8859-1 zos-working-tree-encoding=iso8859-1
*.png                binary
